.list-item{
    background-color: rgb(185, 27, 27);
}
/*{
    background-color: burlywood ;
}*/
.lable{
    background-color: chocolate;
}
.btn{
    height: 50px;
    width: 100px;
    color: blueviolet;
    background-color:rgb(84, 9, 9);
    border: none;
}
.btn:hover{
    cursor: pointer;
    color: blue;
    background-color: blueviolet;
}
.link:link{
   color: aquamarine;
}
.link:visited{
    color: red;
}
.link:active{
    color: green;
}
input:focus{
    background-color: greenyellow;
    
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}


thead tr{
    background-color: cadetblue;
}

tr:nth-child(add){
    background-color: antiquewhite;
}

tr:nth-child(even){
   background-color: brown;
}